body{
    background-color: #89a782;
}

a{
    font-family: serif;
}

.carta{
    /* position: relative; */
    width: auto; 
    max-height: 100%; 
    /* left: 100px; */
}

.carta:not(:first-of-type){
    margin-left: -75px;
}

#jugadorCartas, #computadoraCartas{
    height: 250px;
}

.divCartas {
    overflow: auto;
}

.divCartas::-webkit-scrollbar {
    display: none;
}